<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quote.name %>
</p>

<p>
  <strong>Quote type:</strong>
  <%= @quote.quote_type %>
</p>

<p>
  <strong>Type of home:</strong>
  <%= @quote.type_of_home %>
</p>

<p>
  <strong>Recurrence:</strong>
  <%= @quote.recurrence %>
</p>

<p>
  <strong>Day preference:</strong>
  <%= @quote.day_preference %>
</p>

<p>
  <strong>Time preference:</strong>
  <%= @quote.time_preference %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @quote.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @quote.bathrooms %>
</p>

<p>
  <strong>Square feet:</strong>
  <%= @quote.square_feet %>
</p>

<p>
  <strong>Cleaning supplies:</strong>
  <%= @quote.cleaning_supplies %>
</p>

<p>
  <strong>Eco friendly:</strong>
  <%= @quote.eco_friendly %>
</p>

<p>
  <strong>Laundry:</strong>
  <%= @quote.laundry %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @quote.pets %>
</p>

<p>
  <strong>Refrigerator:</strong>
  <%= @quote.refrigerator %>
</p>

<p>
  <strong>Oven:</strong>
  <%= @quote.oven %>
</p>

<p>
  <strong>Windows:</strong>
  <%= @quote.windows %>
</p>

<p>
  <strong>Location:</strong>
  <%= @quote.location %>
</p>

<p>
  <strong>Request time:</strong>
  <%= @quote.request_time %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
